In [14]:
import pandas as pd
import os
os.getcwd()

'/Users/janmolendijk/Documents/Projects/DAFT/Data'

In [15]:
# Import comma-separated variable file
# data = pd.read_csv('vehicles/vehicles.csv')
# # same as: data = pd.read_csv('vehicles/vehicle.csv', sep=',')
# data
# Import tab-delimited file
# data2 = pd.read_csv('vehicles/vehicles_tab.txt', sep='\t')
# data2
# # Import pipe-delimited file
data3 = pd.read_csv('vehicles/vehicles_pipe.txt', sep='|')
#Make|Model|Year|Engine Displacement|Cylinders|Transmission|Drivetrain|Vehicle Class|Fuel Type|Fuel Barrels/Year|City MPG|Highway MPG|Combined MPG|CO2 Emission Grams/Mile|Fuel Cost/Year
data3

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [ ]:
data3

In [18]:
# Export comma-separated variable file
data.to_csv('vehicles/vehicles_export.csv', index=True)

# Export tab-delimited file
data.to_csv('vehicles/vehicles_tab_export.txt', sep='\t', index=False)

# Export pipe-delimited file
data.to_csv('vehicles/vehicles_pipe_export.txt', sep='|', index=False)

In [19]:
data4 = pd.read_excel('vehicles/vehicles.xlsx')

data4

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [21]:
data[['Make','Model']].to_excel('vehicles/vehicles_export.xlsx', index=False)

In [22]:
data5 = pd.read_json('vehicles/vehicles.json', orient='records')

data5

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [ ]:
data5.to_json('vehicles/vehicles_export.json', orient='records') # index, values

In [23]:
import pymysql
from sqlalchemy import create_engine

In [24]:
engine = create_engine('mysql+pymysql://student:IHisCool!!@34.77.233.175:3306/publications')

In [27]:
sqlstr = 'select au_id, phone from authors'
data6 = pd.read_sql_query(sqlstr, engine)

# for long queries use the following for readability
sqlstr = 'select au_id, AVG(phone) '+ \
         'from authors '+ \
         'group by au_id'

# or use
sqlstr = '''select phone, au_id 
from authors
'''
data6 = pd.read_sql_query(sqlstr, engine)

In [28]:
data6

           phone        au_id
0   408 496-7223  172-32-1176
1   415 986-7020  213-46-8915
2   415 548-7723  238-95-7766
3   408 286-2428  267-41-2394
4   415 834-2919  274-80-9391
5   913 843-0462  341-22-1782
6   415 658-9932  409-56-7008
7   415 836-7128  427-17-2319
8   707 938-6445  472-27-2349
9   415 585-4620  486-29-1786
10  615 297-2723  527-72-3246
11  503 745-6402  648-92-1872
12  415 935-4228  672-71-3249
13  615 996-8275  712-45-1867
14  219 547-9982  722-51-5454
15  415 843-2991  724-08-9931
16  415 354-7128  724-80-9391
17  415 534-9219  756-30-7391
18  301 946-8853  807-91-6654
19  415 836-7128  846-92-7186
20  707 448-4982  893-72-1158
21  801 826-0752  899-46-2035
22  801 826-0752  998-72-3567

In [29]:
data6.to_sql('authors2', engine, if_exists='replace', index=False)

In [35]:
# now you can also import a csv file directly from a url - if you have access obviously
data7=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst', header=None, sep=' ')

In [36]:
data7

        0  1    2  3   4   5   6    7    8  9
0      55  0   81  0  -6  11  25   88   64  4
1      56  0   96  0  52  -4  40   44    4  4
2      50 -1   89 -7  50   0  39   40    2  1
3      53  9   79  0  42  -2  25   37   12  4
4      55  2   82  0  54  -6  26   28    2  1
...    .. ..  ... ..  ..  ..  ..  ...  ... ..
14495  80  0   84  0 -36 -29   4  120  116  5
14496  55  0   81  0 -20  25  26  102   76  4
14497  55  0   77  0  12 -22  22   65   42  4
14498  37  0  103  0  18 -16  66   85   20  1
14499  56  2   98  0  52   1  42   46    4  4

[14500 rows x 10 columns]