In [1]:
import pandas as pd
import numpy as np
import os
import pymysql
from sqlalchemy import create_engine

In [2]:
engine = create_engine('mysql+pymysql://sebastieniron:Gsm0474083668@localhost:3306/stockdata')
sqlstr = 'select * from data2012'
data2012 = pd.read_sql_query(sqlstr, engine)

In [3]:
# Let's select data from a month before election day until a month after election day 6 November Tuesday.
# Tuesday 1st of October 2012 until Thursday 6nd December 2012

datamonth = data2012.loc[(data2012['Date'].str.startswith('2012-10'))|
                         (data2012['Date'].str.startswith('2012-11'))|
                         (data2012['Date'].str.startswith('2012-12-01'))|
                         (data2012['Date'].str.startswith('2012-12-02'))|
                         (data2012['Date'].str.startswith('2012-12-03'))|
                         (data2012['Date'].str.startswith('2012-12-04'))|
                         (data2012['Date'].str.startswith('2012-12-05'))|
                         (data2012['Date'].str.startswith('2012-12-06'))]
datamonth

               Date    Open    High     Low   Close   Volume  OpenInt    Name
188      2012-10-01  26.184  26.877  26.103  26.428  6208959        0   \a.us
189      2012-10-02  26.580  26.790  26.213  26.435  4705364        0   \a.us
190      2012-10-03  26.523  26.729  26.267  26.510  3681185        0   \a.us
191      2012-10-04  26.676  26.960  26.435  26.662  8184504        0   \a.us
192      2012-10-05  26.803  26.919  26.328  26.428  4114495        0   \a.us
...             ...     ...     ...     ...     ...      ...      ...     ...
1012585  2012-11-30   2.720   2.780   2.610   2.690    17577        0  \zx.us
1012586  2012-12-03   2.700   2.700   2.550   2.610    16262        0  \zx.us
1012587  2012-12-04   2.650   2.650   2.560   2.570     1077        0  \zx.us
1012588  2012-12-05   2.600   2.910   2.580   2.910    20949        0  \zx.us
1012589  2012-12-06   2.950   2.950   2.700   2.710    13430        0  \zx.us

[190828 rows x 8 columns]

In [4]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in datamonth['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = datamonth.loc[(datamonth['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = datamonth.loc[(datamonth['Name']==stockname) &
                           (datamonth['Date']=='2012-10-01')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = datamonth.loc[(datamonth['Name']==stockname) &
                           (datamonth['Date']=='2012-12-06')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [5]:
# Let's make a function that creates a dataframe out of the summary characteristics.
def DFcreation(names, beginprices, closeprices, meanclose, stdclose, volratios):
    df = pd.DataFrame()
    df['Ticker'] = names
    df['OpeningPrice'] = beginprices
    df['ClosingPrice'] = closeprices
    df['MeanPrice'] = meanclose
    df['StdPrice'] = stdclose
    df['%_VolatilityRatio'] = volratios
    df['OpeningPrice'] = df['OpeningPrice']
    df['%_Gain/Lose'] = ((df['ClosingPrice']-df['OpeningPrice'])/df['OpeningPrice'])*100
    return df

In [6]:
df = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
df = df[df.astype(str)['%_Gain/Lose'] != '[]']
df['%_Gain/Lose'] = df['%_Gain/Lose'].astype('float')
df['ClosingPrice'] = df['ClosingPrice'].astype('float')

In [8]:
vol_month_mean = np.mean(df['%_VolatilityRatio'])
GL_month_mean = np.mean(df['%_Gain/Lose'])
print("The mean volatility ratio from 2012/10/01 until 2012/12/06:", round(vol_month_mean, 2),"%",
      "\nThe mean Gain or Lose ratio 2012/10/01 until 2012/12/06:", round(GL_month_mean, 2),"%",)

The mean volatility ratio from 2012/10/01 until 2012/12/06: 5.16 %
The mean Gain or Lose ratio 2012/10/01 until 2012/12/06: -1.07 %

# 2012: Week Before & Week After

In [9]:
dataweek = data2012.loc[(data2012['Date'].str.startswith('2012-10-30'))|
                         (data2012['Date'].str.startswith('2012-10-31'))|
                         (data2012['Date'].str.startswith('2012-11-01'))|
                         (data2012['Date'].str.startswith('2012-11-02'))|
                         (data2012['Date'].str.startswith('2012-11-03'))|
                         (data2012['Date'].str.startswith('2012-11-04'))|
                         (data2012['Date'].str.startswith('2012-11-05'))|
                         (data2012['Date'].str.startswith('2012-11-06'))|
                         (data2012['Date'].str.startswith('2012-11-07'))|
                         (data2012['Date'].str.startswith('2012-11-08'))|
                         (data2012['Date'].str.startswith('2012-11-09'))|
                         (data2012['Date'].str.startswith('2012-11-10'))|
                         (data2012['Date'].str.startswith('2012-11-11'))|
                         (data2012['Date'].str.startswith('2012-11-12'))|
                         (data2012['Date'].str.startswith('2012-11-13'))]
dataweek

               Date    Open    High     Low   Close   Volume  OpenInt    Name
208      2012-10-31  24.484  24.722  24.389  24.477  5023058        0   \a.us
209      2012-11-01  24.512  25.266  24.449  25.233  4693860        0   \a.us
210      2012-11-02  25.415  25.415  24.979  25.165  4927975        0   \a.us
211      2012-11-05  25.165  25.648  25.063  25.578  3985427        0   \a.us
212      2012-11-06  25.592  26.170  25.538  26.036  5477835        0   \a.us
...             ...     ...     ...     ...     ...      ...      ...     ...
1012569  2012-11-07   2.720   2.910   2.720   2.800    13442        0  \zx.us
1012570  2012-11-08   2.850   3.000   2.850   2.940    57569        0  \zx.us
1012571  2012-11-09   2.970   3.000   2.860   2.900    18070        0  \zx.us
1012572  2012-11-12   2.850   2.850   2.850   2.850     5100        0  \zx.us
1012573  2012-11-13   2.860   2.860   2.720   2.860    13023        0  \zx.us

[41608 rows x 8 columns]

In [16]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in dataweek['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = dataweek.loc[(dataweek['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = dataweek.loc[(dataweek['Name']==stockname) &
                           (dataweek['Date']=='2012-10-31')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = dataweek.loc[(dataweek['Name']==stockname) &
                           (dataweek['Date']=='2012-11-13')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [19]:
dfweek = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
dfweek = dfweek[dfweek.astype(str)['%_Gain/Lose'] != '[]']
dfweek['%_Gain/Lose'] = dfweek['%_Gain/Lose'].astype('float')
dfweek['ClosingPrice'] = dfweek['ClosingPrice'].astype('float')

In [20]:
vol_week_mean = np.mean(dfweek['%_VolatilityRatio'])
GL_week_mean = np.mean(dfweek['%_Gain/Lose'])
print("The mean volatility ratio from 2012/10/30 until 2012/11/13:", round(vol_week_mean, 2),"%",
      "\nThe mean Gain or Lose ratio 2012/10/30 until 2012/11/13:", round(GL_week_mean, 2),"%",)

The mean volatility ratio from 2012/10/30 until 2012/11/13: 2.77 %
The mean Gain or Lose ratio 2012/10/30 until 2012/11/13: -2.5 %

# 2012: Day Before vs Day After

In [21]:
dataday = data2012.loc[(data2012['Date'].str.startswith('2012-11-05'))|
                         (data2012['Date'].str.startswith('2012-11-06'))|
                         (data2012['Date'].str.startswith('2012-11-07'))]
dataday

,Date,Open,High,Low,Close,Volume,OpenInt,Name
211,2012-11-05,25.165,25.648,25.063,25.578,3985427,0,\a.us
212,2012-11-06,25.592,26.170,25.538,26.036,5477835,0,\a.us
213,2012-11-07,25.695,25.791,25.327,25.558,4748733,0,\a.us
461,2012-11-05,18.319,18.532,18.298,18.341,7818496,0,\aa.us
462,2012-11-06,18.468,18.745,18.363,18.618,9312780,0,\aa.us
...,...,...,...,...,...,...,...,...
1012318,2012-11-06,21.020,21.530,20.950,21.430,394893,0,\zumz.us
1012319,2012-11-07,21.200,21.390,20.850,21.090,257879,0,\zumz.us
1012567,2012-11-05,2.970,2.970,2.730,2.830,19710,0,\zx.us
1012568,2012-11-06,2.800,2.950,2.760,2.770,22175,0,\zx.us
1012569,2012-11-07,2.720,2.910,2.720,2.800,13442,0,\zx.us

In [22]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in dataday['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = dataday.loc[(dataday['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = dataday.loc[(dataday['Name']==stockname) &
                           (dataday['Date']=='2012-11-05')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = dataday.loc[(dataday['Name']==stockname) &
                           (dataday['Date']=='2012-11-07')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [25]:
dfday = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
dfday = dfday[dfday.astype(str)['%_Gain/Lose'] != '[]']
dfday['%_Gain/Lose'] = dfday['%_Gain/Lose'].astype('float')
dfday['ClosingPrice'] = dfday['ClosingPrice'].astype('float')

In [26]:
vol_day_mean = np.mean(dfday['%_VolatilityRatio'])
GL_day_mean = np.mean(dfday['%_Gain/Lose'])
print("The mean volatility ratio from 2012/11/05 until 2012/11/07:", round(vol_day_mean, 2),"%",
      "\nThe mean Gain or Lose ratio 2012/11/05 until 2012/11/07:", round(GL_day_mean, 2),"%",)

The mean volatility ratio from 2012/11/05 until 2012/11/07: 1.42 %
The mean Gain or Lose ratio 2012/11/05 until 2012/11/07: -1.2 %

In [27]:
df2012 = pd.DataFrame()
df2012['Year'] = [2012,2012,2012]
df2012['Period'] = ['Day','Week','Month']
df2012['%_Vol_Mean'] = [vol_day_mean,vol_week_mean,vol_month_mean]
df2012['%_GainLose_Mean'] = [GL_day_mean,GL_week_mean,GL_month_mean]
df2012

   Year Period  %_Vol_Mean  %_GainLose_Mean
0  2012    Day    1.423185        -1.196904
1  2012   Week    2.765803        -2.501528
2  2012  Month    5.158883        -1.070613

In [28]:
df2012.to_csv('df2012.csv', index=False)